In [16]:
import pandas as pd
import matplotlib as plt 
import numpy as np 
import seaborn as sns

df = pd.read_csv("train.csv")

In [17]:
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

# EDA

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [19]:
df.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,8514.000000,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000
mean,28.827930,224.687617,458.077203,173.729169,311.138778,304.854791
std,14.489021,666.717663,1611.489240,604.696458,1136.705535,1145.717189
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,38.000000,47.000000,76.000000,27.000000,59.000000,46.000000
max,79.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000

In [20]:
df.count()

PassengerId     8693
HomePlanet      8492
CryoSleep       8476
Cabin           8494
Destination     8511
Age             8514
VIP             8490
RoomService     8512
FoodCourt       8510
ShoppingMall    8485
Spa             8510
VRDeck          8505
Name            8493
Transported     8693
dtype: int64

In [21]:
df.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

## Preparacion

In [22]:
df.drop(["PassengerId","Cabin","Name"], axis=1, inplace=True)
df

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True
...,...,...,...,...,...,...,...,...,...,...,...
8688,Europa,False,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,False
8689,Earth,True,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,False
8690,Earth,False,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,True
8691,Europa,False,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,False
8692,Europa,False,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,True

In [23]:
df.head

<bound method NDFrame.head of      HomePlanet CryoSleep    Destination   Age    VIP  RoomService  FoodCourt  \
0        Europa     False    TRAPPIST-1e  39.0  False          0.0        0.0
1         Earth     False    TRAPPIST-1e  24.0  False        109.0        9.0
2        Europa     False    TRAPPIST-1e  58.0   True         43.0     3576.0
3        Europa     False    TRAPPIST-1e  33.0  False          0.0     1283.0
4         Earth     False    TRAPPIST-1e  16.0  False        303.0       70.0
...         ...       ...            ...   ...    ...          ...        ...
8688     Europa     False    55 Cancri e  41.0   True          0.0     6819.0
8689      Earth      True  PSO J318.5-22  18.0  False          0.0        0.0
8690      Earth     False    TRAPPIST-1e  26.0  False          0.0        0.0
8691     Europa     False    55 Cancri e  32.0  False          0.0     1049.0
8692     Europa     False    TRAPPIST-1e  44.0  False        126.0     4688.0

      ShoppingMall     Spa  VRDeck  Transported
0              0.0     0.0     0.0        False
1             25.0   549.0    44.0         True
2              0.0  6715.0    49.0        False
3            371.0  3329.0   193.0        False
4            151.0   565.0     2.0         True
...            ...     ...     ...          ...
8688           0.0  1643.0    74.0        False
8689           0.0     0.0     0.0        False
8690        1872.0     1.0     0.0         True
8691           0.0   353.0  3235.0        False
8692           0.0     0.0    12.0         True

[8693 rows x 11 columns]>

In [32]:
from sklearn.preprocessing import OneHotEncoder

Nominal_codificador=OneHotEncoder(sparse=False)
Nominal_codificador.fit_transform(df[['Transported']] )

array([[1., 0.],
       [0., 1.],
       [1., 0.],
       ...,
       [0., 1.],
       [1., 0.],
       [0., 1.]])

In [35]:
Nominal_codificador.categories_

[array([False,  True])]

In [36]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [37]:
categorical_list = ["HomePlanet", "Destination", "VIP", "CryoSleep"]
numeric_list = ["Age", "RoomService", "FoodCourt", "ShoppingMall", "Spa", "VRDeck"]

In [38]:
numeric_transformer= Pipeline ( steps= [ ('scaler',StandardScaler() ) ] )
categorical_transformer= Pipeline ( steps= [ ('onehot',OneHotEncoder() ) ]  )

In [39]:
#Definir los transformadores, se utilizara cuando se aplicaran los algoritmos a machine learning

transformer = ColumnTransformer ( [
('cat',categorical_transformer,categorical_list) , ('num',numeric_transformer,numeric_list)
])

In [40]:
X = df.drop("Transported", axis=1)
y = df["Transported"]

In [42]:
X.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0
1,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0
2,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0
3,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0
4,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0

In [43]:
y.head()

0    False
1     True
2    False
3    False
4     True
Name: Transported, dtype: bool

In [44]:
from sklearn.model_selection import train_test_split

# given:
# features: xs
# ground truth: ys

X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size=0.33,
                                                    random_state=0)

In [45]:
#aca me muestra la cantidad de datos a usar en training y test

X_train.shape,X_test.shape,y_train.shape,y_test.shape

((5824, 10), (2869, 10), (5824,), (2869,))

In [47]:
from sklearn.linear_model import LogisticRegression
logistic_regression=LogisticRegression()

In [48]:
#pipeline de la prediccion completa

model_logistic_regression = Pipeline( [
    ('transformer',transformer),
    ('logistic_regression', logistic_regression)
    ] )

In [49]:
model_logistic_regression .fit(X_train,y_train)

ValueError: Input X contains NaN.
LogisticRegression does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values